__pycache__/

# Ignorar archivos de Excel
*.xls
*.xlsx
*.xlsm
*.xlsb

# Excluir al archivo de distancias de la regla anterior
!Distancias entre puertos.xlsx

# Ignorar archivos de entorno virtual
venv/
*.env
.streamlit/

# Ignorar notebook de pruebas de consultas
Consultas_db.ipynb

# Ignorar archivos de base de datos
backup.dump