__pycache__/

# Ignorar archivos de Excel
*.xls
*.xlsx
*.xlsm
*.xlsb
*.pdf

# Excluir al archivo de distancias de la regla anterior
!Distancias entre puertos.xlsx

# Ignorar archivos de entorno virtual
venv/
*.env